@model IEnumerable<Department>
    <a asp-action="create" asp-controller="department" class="btn btn-primary" >Create</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var item in Model)
            {
                <tr>
                    <td>@item.DeptId</td>
                    <td>@item.DeptName</td>
                    <td>
                        <a asp-action="edit" asp-controller="department" asp-route-id="@item.DeptId" class="btn btn-outline-primary">Update</a>
                        <a asp-action="details" asp-controller="department" asp-route-id="@item.DeptId" class="btn btn-outline-primary">Details</a>
                        <a asp-action="delete" asp-controller="department" onclick="return confirm('are you sure')" asp-route-id="@item.DeptId" class="btn btn-danger">Delete</a>
                        <a asp-action="ShowCourses" asp-controller="DepartmentCourse" asp-route-id="@item.DeptId" class="btn btn-outline-primary">Show Courses</a>
                        <a asp-action="ManageCourses" asp-controller="DepartmentCourse" asp-route-id="@item.DeptId" class="btn btn-outline-primary">Manage Courses</a>
                    </td>
                </tr>
            }           